# Xcode
*.xcuserstate
*.xcuserdatad/
xcuserdata/
DerivedData/
build/

# macOS
.DS_Store
*.swp

# CocoaPods
Pods/

# Swift Package Manager
.build/
Package.resolved

# Misc
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
